.header__conteiner {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 10;
}

.links {

    font-style: SemiBold;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;

}

.links:hover{
    font-weight: 600;
}

