.header__conteiner {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 10;
}



.menu {
    display: flex;
    justify-content: space-between;
    width: 700px;
    align-items: center;
}

.links {

    font-style: SemiBold;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;

}

.links:hover{
    font-weight: 600;
}

.btn__header {
    width: 142;
    height: 49;
    border-width: 1px;
    padding-top: 14px;
    padding-right: 32px;
    padding-bottom: 14px;
    padding-left: 32px;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
    letter-spacing: 0%;
    background-color: #2C3878;
    display: block;
}