.title_text {

    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    position: relative;
    line-height: 150%;
    letter-spacing: 0%;

}

.title_text::before {
    position: absolute;
    left: 14%;
    width: 500px;
    content: '';
    display: block;
    height: 2px;
    background-color: #333;
    top: 50%;
}

.p__text {
    padding-top: 50px;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 36px;
    line-height: 170%;
    letter-spacing: 0%;
    width: 85%;
}
